<div class="col-md-8">
  <div class="row">
    <div class="col-md-11">
      <%= link_to "Home", wikis_path, class: 'btn btn-info btn-sm' %>
    </div>
  </div>
  <div class="row">
    <h4>You can downgrade your account from this page.</h4>
      <ul>
        <li>You credit card will no longer be charged after the current billing cycle</li>
        <li>You will no longer be able to create private wikis</li>
        <li>You currently have a <%= @role %> account.  Click Home above if you do not wish to downgrade.</li>
      </ul>
  </div>
  <div class="row">
<<<<<<< HEAD
        <%= form_tag  %>
    <%= link_to "Downgrade Account", { controller: 'users/downgrade', action: :downgrade }, class: 'btn btn-danger btn-lg' %>
=======
    <%= link_to "Downgrade account", { controller: 'users/downgrade', user_id: @user.id, action: :create }, method: :post, class: 'btn btn-danger btn-lg' %>
>>>>>>> Downgrade not working
  </div>
</div>
